body {
  height: 100vh;
  width: 100vw;

  background: linear-gradient(
      187deg,
      #240846 9.13%,
      rgba(45, 24, 106, 0) 84.45%
    ),
    linear-gradient(
      180deg,
      rgba(47, 25, 109, 0) 76.56%,
      rgba(24, 194, 163, 0.56) 97.66%
    ),
    #2e186c;

  overflow: hidden;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 500px;
  height: 100%;
}
